#Activer HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.louis-gambart.fr$1 [R,L]

#Modifier page erreur 404
ErrorDocument 404 /pages/error/error404.php

#Désactiver l'indexage
IndexIgnore *

#Empêcher l'accès aux fichiers commencant par .*
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
