.about {
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
}
.about h1 {
    font-size: 4rem;
}
.about .highlight {
    color: var(--highlight-color);
}
.about .highlight a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}
.about .highlight a:after {
    transition: width .7s ease-in-out;
    content: "";
    position: absolute;
}
.about .highlight a.left {
    color: var(--highlight-color);
}
.about .highlight a.left:after {
    height: 3px;
    bottom: -5px;
    left: 0;
    width: 0;
    background-color: var(--highlight-color);
}
.about .highlight a.left:hover:after {
    width: 100%;
}

.line {
    height: 0.2rem;
    background: var(--highlight-color);
    border-radius: 2rem;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .about h1 {
        font-size: 2rem;
    }
    .about {
        margin-right: 1rem;
    }
}
.about fieldset {
    border: 2px solid var(--fieldset-border-color);
    border-radius: 5px;
    padding: 1rem;
    margin-right: 2rem;
}

.column {
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .row {
        display: flex;
    }
    .column {
        flex: 50%;
        margin-top: 0;
    }
}
.date {
    text-align: center;
    font-size: 1rem;
}
.about h3 {
    font-size: 2rem;
}
.education-item {
    margin-left: 1rem;
    margin-right: 1rem;
}