@import 'button.css';
@import 'main.css';
@import 'navbar.css';
@import 'about.css';
@import 'modal.css';
@import 'contact.css';
@import 'projects.css';

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

/* color palette: https://colorhunt.co/palette/f6f5f5d3e0ea1687a7276678 */

:root{
    --btn-color: rgb(255, 255, 255);
    --btn-bg-color: rgb(22, 135, 167);
    --btn-hover-color: rgb(39, 102, 120);
    --navbar-bg-color: rgb(246, 245, 245);
    --navbar-bg-hover: rgba(211, 224, 234, 0.4);
    --dropdown-bg-color: rgb(211, 224, 234);
    --dropdown-bg-hover: rgba(22, 135, 167, 0.2);
    --text-color: rgb(33, 37, 41);
    --navbar-color: rgb(33, 37, 41);
    --bg-filter: rgba(200, 200, 200, 0.90);
    --link-text-color: rgb(33, 37, 41);
    --mail-text-color: rgba(57, 67, 77, 0.7);
    --highlight-color: rgb(39, 102, 120);
    --modal-bg-color: rgba(211, 224, 234, 0.5);
    --modal-color: rgba(22, 135, 167, 0.9);
    --input-group-addon-color: rgb(22, 135, 167);
    --fieldset-border-color: rgb(22, 135, 167);
}