/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


.center { text-align: center; }


div#banner {
    position: fixed;
    background-image: url('/public/img/index-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}
div#filterbanner {
    position: fixed;
    background-color: var(--bg-filter);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}


body {
    min-height: 100vh;
    margin: 0;
    color: var(--text-color);
}
main {
    position: relative;
    z-index: 15;
    margin-top: 5rem;
    font-family: Montserrat, sans-serif;
    margin-right: 1.5rem;
}
@media (max-width: 768px) {
    main {
        margin-right: 1rem;
    }
}
footer {
    min-height: 50px;
    position: relative;
    z-index: 15;
    margin-bottom: 1rem;
    bottom: 0;
    width: 100%;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
}
footer a {
    text-decoration: none;
}
nav {
    z-index: 20;
    position: relative;
    font-family: Montserrat, sans-serif;
}
li {
    list-style: none;
}


.lien { color: var(--link-text-color); text-decoration: none; }
.lien:hover { color: var(--link-text-color); text-decoration: none; background: transparent; }
.lien:visited { color: var(--link-text-color); text-decoration: none; }


.lien2 { color: var(--link-text-color); text-decoration: none; }
.lien2:hover { color: var(--link-text-color); text-decoration: none; background: transparent; }
.lien2:visited { color: var(--link-text-color); text-decoration: none; }


.mail { color: var(--mail-text-color); text-decoration: none; }
.mail:hover { color: var(--mail-text-color); text-decoration: none; background: transparent; }
.mail:visited { color: var(--mail-text-color); text-decoration: none; }


body {
    display: flex;
    flex-direction: column;
}
.fill {
    flex: 1;
}